<mat-tab-group>
    <mat-tab label="Users" >
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Country</th>
              <th>
                <button class="add-button" routerLink="/form">Add New</button>
              </th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
        </mat-tab>
    
  </mat-tab-group>
 
    <!-- <mat-tab label="Products"> Content 2 </mat-tab> -->
    <!-- <button routerLink="/form">ADD NEW</button> -->